.features-list {
  @media only screen and (max-width: 646px) {
    display: none;
  }
  .item {
    flex: 1;
    margin: 16px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 646px) {
      text-align: center;
    }
  }

  .list-element-title {
    font-family: JelleeRoman, Sans-Serif;
    font-size: 20px;
  }

  .list-element-body {
    font-family: Quicksand, Sans-Serif;
    text-align: justify;
    font-size: 12px;
  }

  .feature-icon {
    height: 56px;
    width: 56px;

    @media only screen and (max-width: 646px) {
      margin: 0 auto;
    }
  }
}
