.full-feature {
  
  .wrapper {
    display: flex;
  }

  .side-image {
    margin: 24px;
    display: inline-block;
  }
  .feature-title {
    font-size: 24px;
    font-weight: bold;
    margin: auto 28px 0 28px;
  }
  .feature-text {
    text-align: justify;
    margin: auto 28px 36px 28px;
    display: inline-block;
  }
}
