.task-modal {
  textarea,
  select,
  input,
  button,
  button:focus {
    outline: none;
    resize: none;
    box-shadow: none !important;
  }

  .task-modal-wrapper {
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.1);
  }

  .form-wrapper {
    background: none;
    border: none;
  }

  .center-inner {
    padding: 16px;
    width: 100%;
    background-color: #f1f1f1;
    border: none;
  }

  .left-text {
    text-align: left;
  }

  .task-modal-title {
    font-size: 26px;
    font-family: JelleeRoman, Sans-Serif;
    font-weight: normal;
    font-style: normal;
  }

  .get-it-done-button {
    margin-left: auto;
  }
  .get-it-done-button-wrapper {
    margin: 26px 0 0 0;
    text-align: right;
  }
}
