$break-small: 982px;
$break-large: 1024px;

@font-face {
  font-family: JelleeRoman;
  src: url("/static/fonts/Jellee-Roman.ttf");
}



.nav-header {
  @media screen and (max-width: $break-small) {
    font-size: 52px;
  }
}

.card {
  @media screen and (max-width: $break-small) {
    border-radius: 14px;

  }
}

