
$break-small: 586px;
$break-large: 1024px;

html {
  background-color: #141115;
}

.home-page {

  width: 446px;

  @media screen and (max-width: $break-small) {
    width: 75vw;
  }
}

.main-text {
  color: #DDF45B;
}

.sub-text {
  margin-top: -8px;
  margin-bottom: 4px;
  color: #DDF45B;
}

.center-v-h {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -65%);
  transform: translate(-50%, -65%);
}

.form-wrapper {
  margin: 24px
}

.get-it-done-button {
  margin: 24px;
  margin-left: auto;
}

textarea, select, input, button, button:focus {
  outline: none;
  resize: none;
  box-shadow:none !important;
}
